$SamsungSharpSans: "SamsungSharpSans", sans-serif;
$prime: #ff6e48;
$ciBlue: #00fff1;
$ciRed: #ff00aa;
$ciGreen: #46fcb4;
$second: #00000000;

@font-face {
    font-family: $SamsungSharpSans;
    src: url("./../assets/fonts/SamsungSharpSans-Bold.ttf");
    font-weight: 700;
}
  
body,
html {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	margin: 0;
	padding: 0;
	font-family: $SamsungSharpSans;
}
