
.card1 {
    color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 2rem;
    margin-top: -75px;  
    max-width: 100rem;
    overflow-y: hidden;
}

.hero {
    transform: translateY(-55%);
}
.hero .img {
    filter: drop-shadow(0rem 1.5rem rgba(0,0,0,0.1));
    transition: 0.3s ease-out;
}
.card1:hover .img {
    filter: drop-shadow(0rem 2.5rem rgba(0,0,0,0.1));
}

.title {
    text-align: center;
    font-size: 4.5rem;
    padding: 1rem;
}

.acc-btn {
    width: 100%;
    padding: 1.4rem 2rem;
    font-size: 1.6rem;
    cursor: pointer;
    background: inherit;
    border: none;
    outline: none;
    text-align: left;
    transition: all 0.5s linear;
    color: white;
    font-weight: bold;
}
.acc-btn:after {
    content: "\27A4";
    color: #08f;
    float: right;
    transition: all 0.3s linear;
}
.acc-btn.is-open:after {
    transform: rotate(90deg);
}
.acc-btn:hover, .acc-btn.is-open {
    color: #08f;
    font-weight: bold;
}

.acc-content {
    max-height: 0;
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.3rem;
    margin: 0 2rem;
    padding-left: 1rem;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    border-bottom: 1px solid #ccc;
}