@import 'preset';
@import 'flip';
@import 'social';
@import 'boxes';
@import 'profile';
@import 'supp';
@import 'recovery';
@import 'dropdown';

$headerHeight: 10rem;
$sidebarWidth: 35rem;
$margin: 2rem;

$screen-mid: 768px;
$screen-normal: 992px;
$screen-large: 1200px;

@mixin small {
  @media (max-width: #{$screen-mid}) {
    @content;
  }
}

@mixin mid {
  @media (min-width: #{$screen-mid}) {
    @content;
  }
}

@mixin normal {
  @media (min-width: #{$screen-normal}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$screen-large}) {
    @content;
  }
}

main {
  width: 100%;
  background-color: black;
  min-height: 10vh;
  font-size: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: $headerHeight 0 0 0;

  .content {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    min-height: 10vh;
    width: 100%;
    max-width: 100rem;

    @include small {
      flex-direction: column;
    }

    @include mid {
      flex-direction: column;
    }

    @include normal {
      flex-direction: row;
    }

    @include large {
      flex-direction: row;
    }

    .article-wrapper {
      margin-top: -45px;
      background-color: black;
      width: 100%;
      padding: $margin;

      .article {
        min-height: 10vh;
        margin: 0 0 $margin 0;
        text-align: center;
      }

      .author {
        min-height: 10vh;
        margin: 0 0 $margin 0;
        justify-content: center;
        align-items: center;
        display: flex;
      }

      .comment {
        min-height: 0vh;
        justify-content: center;
        align-items: center;
        display: flex;
      }

    }

    aside {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding: $margin;

      @include small {
        width: 100%;
      }

      @include mid {
        width: 100%;
      }

      @include normal {
        width: $sidebarWidth;
      }

      @include large {
        width: $sidebarWidth;
      }

      section {
        min-height: 25rem;
        width: 100%;
        margin: 0 0 $margin 0;

        &:last-child {
          margin: 0 0 0 0;
        }
      }
    }
  }

  header {
    width: 100%;
    height: $headerHeight;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SamsungSharpSans', sans-serif;
}

:root {
  /* ===== Colors ===== */
  /* ===== Colors ===== */
  --body-color: #000000;
  --sidebar-color: rgb(0, 0, 0);
  --primary-color: #08f;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #ffffff;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
  background-color: #000000;
}

body {
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: rgba(255, 255, 255, 0);
  transition: var(--tran-05);
  z-index: 100;
  margin-top: 10px;
}

.sidebar.close {
  width: 90px;
}

.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 18px;

}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 0px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;

}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;

}

.sidebar.close .text {
  opacity: 0;

}

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
  position: absolute;

}

header .image-text .profession {
  font-size: 18px;
  margin-top: -10px;
  left: 90px;
  display: block;
  position: absolute;
}

.sidebar header .image {
  display: flex;
}


.sidebar header .image img {
  width: 64px;
  border-radius: 0px;
  transition: width 0.3s;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%) rotate(180deg);
  height: 30px;
  width: 30px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
  margin-top: 2px;
}

.sidebar.close .image img {
  width: 48px;
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);

}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
  display: none;
}

.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.home {
  position: absolute;
  top: 100rem;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
  animation: fadein 0.6s;
  -moz-animation: fadein 1.1s;
  -webkit-animation: fadein 0.6s;
}

.sidebar.close~.home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  16% {
    opacity: 1;
  }

  84% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.animated {
  background-position: left top;

  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-direction: reverse;

}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 200;
  text-align: center;
  line-height: 90vh;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  margin-top: 17%;
}

.splash.display-none {
  position: relative;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  text-align: center;
  line-height: 1vh;
  transition: 0.2s all;
  visibility: hidden;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@media screen and (max-width: 900px) {
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50%;
  }
}

.views {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.img_size {
  width: 128px;
  height: 128px;
}

.card_rp {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 0rem;
  height: 76rem;
}

.cards_rp {
  max-width: 1050px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  margin-top: 40px;
  text-align: center;
  font-size: 16px;
}

@media screen and (max-width: 900px) {
  .cards_rp {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 68px;
    width: 100%;
    font-size: 13px;
  }
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards_rp {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .cards_rp {
    grid-template-columns: repeat(4, 1fr);
  }

}

.size_rp_i {
  width: 32px;
  height: 32px;
}